.Board {
  height: 92%;
  display: flex;
  overflow-x: auto;
}

.Add-List {
  width: 250px;
  margin: 1.5rem;
  flex-shrink: 0;
  
}

.Add-List-Button {
  display: flex;
  align-items: center;
  padding: 0.65rem;
  height: fit-content;
  min-height: 32px;

  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: rgb(239, 237, 238);
  color: var(--header-fontColor);
  font-weight: 700;
  cursor: pointer;
  transition: background-color 85ms ease-in, opacity 40ms ease-in,
    border-color 85ms ease-in;
}

.Add-List-Button:hover {
  background-color: rgba(0, 0, 0, 0.24);
}

.Add-List-Button ion-icon {
  margin-right: 1px;
}
